body {
    background: linear-gradient(135deg, #a18cd1, #fbc2eb);
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


body {
    transition: background 0.3s ease;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}